:root {
    --base-font: sans-serif;

    --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
    --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
    --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
    --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
    --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
    --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);

    --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
    --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
    --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
    --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
    --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem);
    --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
    --space-2xl: clamp(4.50rem, calc(4.33rem + 0.87vw), 5.00rem);
    --space-3xl: clamp(6.75rem, calc(6.49rem + 1.30vw), 7.50rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.31rem, calc(0.20rem + 0.54vw), 0.63rem);
    --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
    --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
    --space-s-m: clamp(1.13rem, calc(0.86rem + 1.30vw), 1.88rem);
    --space-m-l: clamp(1.69rem, calc(1.40rem + 1.41vw), 2.50rem);
    --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
    --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5.00rem);
    --space-2xl-3xl: clamp(4.50rem, calc(3.46rem + 5.22vw), 7.50rem);

    /* Custom pairs */
    --space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.50rem);

    --color-primary1: #292A2E;
    --color-primary2: #1A1B1D;
    --color-secondary: #F2F4F3;
    --color-tertiary1: #FB3640;
    --color-tertiary2: #79A1EE;
    --color-border: #C7C7C7;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'League Spartan', sans-serif;
    background-color: var(--color-primary1);
    color: var(--color-secondary);
}

.background {

    background-image: linear-gradient(rgba(22, 21, 21, 0.5), rgba(87, 86, 86, 0.5)), url("pissa.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.title1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 280px;
    margin: 0;
    font-size: 300%;
    font-weight: 900;
}

.title2 {
    margin: 0;
    padding-top: 20px;
    font-size: 200%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    padding-bottom: 100px;
}

.open {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
}

.contact {
    position: fixed;
    top: 50px;
    right: 100px;
    color: white;
    text-decoration: none;
    font-size: xx-large;
}

.menu {
    color: white;
    position: fixed;
    top: 50px;
    right: 300px;
    text-decoration: none;
    font-size: xx-large;

}


.h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 3rem;
}

.h2 {}

.h3 {}

hr {}

.menuContainer {
    text-align: center;
    margin-bottom: 3rem;
}

.menuButton {
    width: 15%;
    height: 2.5rem;
    margin-right: 1rem;
    font-size: var(--space-s);
    font-weight: 400;
    color: var(--color-secondary);
    background-color: var(--color-primary1);
    border-color: var(--color-border);
    border-radius: 30px;
    transition: 0.3s;
}

.menuButton:hover {
    color: var(--color-primary1);
    background-color: var(--color-secondary);
}

.menuButton:focus {
    color: var(--color-primary1);
    background-color: var(--color-secondary);
}

.menuItem {
    list-style: none;
    margin-right: 10%;
    margin-left: 10%;
    padding: 0;
}

.menuDiv {
    display: flex;
}

.menuItemName {
    font-size: var(--space-m);
    font-weight: 500;
    margin: 0;
}

.menuItemPrice {
    font-size: var(--space-m);
    font-weight: 500;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.menuItemText {
    font-size: var(--space-s);
    font-weight: 300;
}

.aboutUsContainer {
    background-color: var(--color-primary2);
    width: 100%;
    height: fit-content;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.aboutUsContainer p {
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--space-m);
    font-weight: 300;
}

.contactContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

iframe {
    width: 50%;
}

.contactItems {
    width: 50%;
    height: 50%;
}

.contactTitle {
    font-size: var(--space-m);
    font-weight: 500;
}

.contactText {
    font-size: var(--space-m);
    font-weight: 300;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}